/*
------------------------------- 
---------------------------------------------Contenedor principal--------------------------------------------------------------- 
-------------------------------
*/

/*
------------------------------- 
home-contenedor 
-------------------------------
*/

.home-contenedor{
    height: 10vh;
}







/* boton ver mas */
.boton-ver-mas{
    position: relative;
    margin-top: 2em;
}



/*
------------------------------- 
---------------------------------------------Responsive Media Queries--------------------------------------------------------------- 
-------------------------------
*/


